In [39]:
# Import the required modules 
import xmltodict 
import pandas as pd

In [2]:
xml_file = r'\\10.99.68.52\Kiemendata\Valentina Matos\coda to python\test model\SG_013_0061.xml'
# Open the file and read the contents 
with open(xml_file, 'r', encoding='utf-8') as file: 
	my_xml = file.read() 
# Use xmltodict to parse teh xml document
my_dict = xmltodict.parse(my_xml)

In [3]:
# Get the number of keys in the dictionary
num_keys = len(my_dict)
print(f"The dictionary has {num_keys} keys.")

# Print the keys
print("The keys are:")
for key in my_dict:
    print(key)

The dictionary has 1 keys.
The keys are:
Annotations

In [4]:
my_dict2 = my_dict['Annotations']
# Get the number of keys in the dictionary
num_keys = len(my_dict2)
print(f"The dictionary has {num_keys} keys.")

# Print the keys
print("The keys are:")
for key in my_dict2:
    print(key)

The dictionary has 2 keys.
The keys are:
@MicronsPerPixel
Annotation

In [5]:
reduced_annotations = my_dict2['@MicronsPerPixel'] #microns perpixel
print(reduced_annotations)

0.441600

In [6]:
#True annotations (They are a list)
annotations = my_dict['Annotations']['Annotation']
# Get the number of keys in the dictionary
num_elements = len(annotations)
print(f"The list has {num_elements} elements.")

The list has 14 elements.

In [34]:
#Access the elements of the annotarions list (Accessing layer 1 specifically)
# layer_1 = annotations[0]
layer_1 = my_dict['Annotations']['Annotation'][2]["Regions"]
keys_layer = layer_1.keys()
if "Region" in my_dict["Annotations"]["Annotation"][0]["Regions"]:
    # Do something if the key 'region' is present in the dictionary
    print("'Region' key exists.")
else:
    # Do something else if the key 'region' is not present in the dictionary
    print("'Region' key does not exist.")

'Region' key does not exist.

In [19]:
layer = 1 #layer 2 in xml file
annotation_list_index = 0 #to access info of a single annotation in a chosen layer

annotation_id = float(my_dict["Annotations"]["Annotation"][layer]['@Id'])
annotation_number = float(my_dict["Annotations"]["Annotation"][layer]["Regions"]["Region"][annotation_list_index]['@Id'])

vertex_number = 0 #1st vertex of chosen annotation
x = float(my_dict["Annotations"]["Annotation"][layer]["Regions"]["Region"][annotation_list_index]["Vertices"]["Vertex"][vertex_number]["@X"])
y = float(my_dict["Annotations"]["Annotation"][layer]["Regions"]["Region"][annotation_list_index]["Vertices"]["Vertex"][vertex_number]["@Y"])
xyout = []
xyout.append([annotation_id, annotation_number, x, y])
print(xyout)

[[2.0, 1.0, 17371.0, 17675.0]]

In [40]:
xyout = []
for layer in range(len(my_dict["Annotations"]["Annotation"])):
    # Check if there are annotations in the current layer
    if 'Region' in my_dict["Annotations"]["Annotation"][layer]["Regions"]:
        annotation_id = float(my_dict["Annotations"]["Annotation"][layer]['@Id'])
        annotations = my_dict["Annotations"]["Annotation"][layer]["Regions"]["Region"]
        for annotation_list_index in range(len(annotations)):
            annotation_number = float(my_dict["Annotations"]["Annotation"][layer]["Regions"]["Region"][annotation_list_index]['@Id'])
            for vertex_idx in range(len(annotations[annotation_list_index]['Vertices']["Vertex"])):
                x = float(my_dict["Annotations"]["Annotation"][layer]["Regions"]["Region"][annotation_list_index]["Vertices"]["Vertex"][vertex_idx]["@X"])
                y = float(my_dict["Annotations"]["Annotation"][layer]["Regions"]["Region"][annotation_list_index]["Vertices"]["Vertex"][vertex_idx]["@Y"])
                xyout.append([annotation_id, annotation_number, x, y])

xyout_df = pd.DataFrame(xyout, columns=['Annotation Id', 'Annotation Number', 'X vertex', 'Y vertex'])
xyout_df

      Annotation Id  Annotation Number  X vertex  Y vertex
0               2.0                1.0   17371.0   17675.0
1               2.0                1.0   17371.0   17676.0
2               2.0                1.0   17370.0   17676.0
3               2.0                1.0   17369.0   17678.0
4               2.0                1.0   17368.0   17678.0
...             ...                ...       ...       ...
3556            3.0                2.0   12395.0   10319.0
3557            3.0                2.0   12397.0   10317.0
3558            3.0                2.0   12398.0   10315.0
3559            3.0                2.0   12399.0   10314.0
3560            3.0                2.0   12399.0   10315.0

[3561 rows x 4 columns]

In [42]:
def load_annotaions(my_dict):
    xyout = []
    reduced_annotations = my_dict['Annotations']['@MicronsPerPixel']
    for layer in range(len(my_dict["Annotations"]["Annotation"])):
        # Check if there are annotations in the current layer
        if 'Region' in my_dict["Annotations"]["Annotation"][layer]["Regions"]:
            annotation_id = float(my_dict["Annotations"]["Annotation"][layer]['@Id'])
            annotations = my_dict["Annotations"]["Annotation"][layer]["Regions"]["Region"]
            for annotation_list_index in range(len(annotations)):
                annotation_number = float(my_dict["Annotations"]["Annotation"][layer]["Regions"]["Region"][annotation_list_index]['@Id'])
                for vertex_idx in range(len(annotations[annotation_list_index]['Vertices']["Vertex"])):
                    x = float(my_dict["Annotations"]["Annotation"][layer]["Regions"]["Region"][annotation_list_index]["Vertices"]["Vertex"][vertex_idx]["@X"])
                    y = float(my_dict["Annotations"]["Annotation"][layer]["Regions"]["Region"][annotation_list_index]["Vertices"]["Vertex"][vertex_idx]["@Y"])
                    xyout.append([annotation_id, annotation_number, x, y])

    xyout_df = pd.DataFrame(xyout, columns=['Annotation Id', 'Annotation Number', 'X vertex', 'Y vertex'])
    return reduced_annotations, xyout_df

In [43]:
reduced_annotations, xyout_df = load_annotaions(my_dict)
print(reduced_annotations)
xyout_df

0.441600

      Annotation Id  Annotation Number  X vertex  Y vertex
0               2.0                1.0   17371.0   17675.0
1               2.0                1.0   17371.0   17676.0
2               2.0                1.0   17370.0   17676.0
3               2.0                1.0   17369.0   17678.0
4               2.0                1.0   17368.0   17678.0
...             ...                ...       ...       ...
3556            3.0                2.0   12395.0   10319.0
3557            3.0                2.0   12397.0   10317.0
3558            3.0                2.0   12398.0   10315.0
3559            3.0                2.0   12399.0   10314.0
3560            3.0                2.0   12399.0   10315.0

[3561 rows x 4 columns]

In [44]:
def load_annotations(my_dict):
    xyout = []
    reduced_annotations = my_dict['Annotations'].get('@MicronsPerPixel')
    
    annotations = my_dict.get("Annotations", {}).get("Annotation", [])
    for annotation in annotations:
        if 'Region' in annotation.get("Regions", {}):
            annotation_id = float(annotation.get('@Id'))
            regions = annotation["Regions"]["Region"]
            for region in regions:
                annotation_number = float(region.get('@Id'))
                vertices = region.get("Vertices", {}).get("Vertex", [])
                for vertex in vertices:
                    x = float(vertex.get('@X'))
                    y = float(vertex.get('@Y'))
                    xyout.append([annotation_id, annotation_number, x, y])

    xyout_df = pd.DataFrame(xyout, columns=['Annotation Id', 'Annotation Number', 'X vertex', 'Y vertex'])
    return reduced_annotations, xyout_df

In [45]:
reduced_annotations, xyout_df = load_annotaions(my_dict)
print(reduced_annotations)
xyout_df

0.441600

      Annotation Id  Annotation Number  X vertex  Y vertex
0               2.0                1.0   17371.0   17675.0
1               2.0                1.0   17371.0   17676.0
2               2.0                1.0   17370.0   17676.0
3               2.0                1.0   17369.0   17678.0
4               2.0                1.0   17368.0   17678.0
...             ...                ...       ...       ...
3556            3.0                2.0   12395.0   10319.0
3557            3.0                2.0   12397.0   10317.0
3558            3.0                2.0   12398.0   10315.0
3559            3.0                2.0   12399.0   10314.0
3560            3.0                2.0   12399.0   10315.0

[3561 rows x 4 columns]